body {
  text-align: center;
  background: gray;
  display: flex;
  justify-content: center;
}

.box{
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background: white;
}
button{
  background-color: blue;
  border-radius: 5px;
}